<!DOCTYPE html>
<html>
<head><title>Cadastrar Live YouTube</title></head>
<body>
<h1>Cadastrar Live YouTube</h1>
<form method="post">
    Data: <input type="date" name="data_transmissao"><br>
    Horas transmitidas: <input type="text" name="horas_transmitidas"><br>
    Visualizações: <input type="number" name="visualizacoes"><br>
    Seguidores novos: <input type="number" name="seguidores_novos"><br>
    Impressões: <input type="number" name="impressoes"><br>
    Conteúdo: <input type="text" name="conteudo"><br>
    <input type="submit" value="Salvar">
</form>
<a href="/">Voltar</a>
</body>
</html>
